{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todos</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'todos/styles.css' %}">
</head>

<body class="bg-light">

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8 offset-md-2">

                <div class="card">
                    <div class="card-header shadow-sm bg-white">
                        <h1 class="display-5 text-info"><i class="fas fa-check-double"></i> Todos</h1>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <form action="{% url 'insert_todo_item' %}" method="post" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="content">
                                        <div class="input-group-append text-info">
                                            <span class="input-group-text bg-white py-0">
                                                <button type="submit" class="btn btn-sm text-info">
                                                    <i class="fa fa-plus-circle fa-lg"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            {% for todo in todo_list %}
                            <li class="list-group-item">{{todo.content}}

                                <form action="{% url 'delete_todo_item' todo.id %}" method="post" class="float-right d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn">
                                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                                    </button>
                                </form>

                            </li>
                            {% empty %}
                            <li class="list-group-item">
                                <span class="font-italic">No todo item found.</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>